html,
body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
}

.ul-color {
    color: rgb(227, 227, 227);
}

.headerimg {
    background-position: center;
    background-size: cover;
}
.section-hf {
    background-color: transparent;
    margin-bottom: -75px;
}

.section-index {
    background-color: #161a30fb;
    color: rgb(227, 227, 227);
}

.section-portfolio {
    background-color: #161a30f9;
    color: rgb(227, 227, 227);
}

.section-about {
    background-color: #161A30;
    color: rgb(227, 227, 227);
}

.section-contact {
    background-color: #161a30f9;
    color: rgb(227, 227, 227);
}

.my-pic {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

header {
    background: no-repeat center center;
    background-size: cover;
    color: white;
}

.color-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 60vh;

}

.singleCol {
    max-width: 750px;
}

footer {
    background-color: #3c515f;

}

footer a {
    color: white;
}

footer a:hover {
    color: #dfdfdf;
}

@media (max-width: 768px) {
    .color-overlay {
        min-height: 30vh;
    }
}